AddDefaultCharset UTF-8
RewriteEngine On
#RewriteCond %{HTTP:PORT} !^443$
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R]

RewriteCond %{REQUEST_FILENAME} robots.txt$ [NC]
RewriteBase /

ErrorDocument 404 /error/


RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=301]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

<ifModule mod_headers.c>
#month
  <filesMatch "\.(ico|jpe?g|png|gif|swf|woff)$">
    Header set Cache-Control "max-age=2592000, public"
  </filesMatch>
#week
  <filesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=604800, public"
  </filesMatch>
#day
#  <filesMatch "\.(x?html?|php)$">
#    Header set Cache-Control "max-age=43200, private, must-revalidate"
#  </filesMatch>
  <filesMatch "\./analytics.js$">
    Header set Cache-Control "max-age=604800, public"
  </filesMatch>
</IfModule>

